<h1>My Portfolio</h1>
<div>
	<h3>Search Ticker Here</h3>
	<%= form_tag search_stock_path, method: :get do |form| %>
		<div class="row">
			<div class="col-9">
				<%= text_field_tag :stock, params[:stock], placeholder:"Enter your ticker here", class:"form-control" %>
			</div>
			<div class="col-3">
				<%= button_tag type: :submit, class:"btn btn-success" do  %>
					<%= 'Search'%>
				<%end%>
			</div>
		</div>
	<% end %>
</div>
<div class="mt-5">
	<%if @stock %>
	 <strong>Name:</strong><%=@stock.name%>
	 <strong>Latest_price:</strong><%=@stock.last_price%>
	 <strong>Ticker:</strong><%=@stock.ticker%>
	 <% if current_user.can_track_stock?(@stock.ticker) %>

	 <%= link_to 'Add_to_Myportfolio',user_stocks_path(user:current_user,ticker:@stock.ticker), class:"btn btn-success ml-4",method: :post %>
	 <% else %>
			<p>Already tracked</p>
			<% if current_user.under_stock_limit?%>
				<p>this stocks</p>
			<%else%>
				<p>10 stocks</p>
			<%end%>
		<%end%>

	 <%end%>
	</div>
<div  id="results">
</div>

	<%=render 'layouts/stock'%>

	





