
       <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to 'Finance-Tracker',root_path,class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'My Portfolio', my_portfolio_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "My friends", my_friend_path, class:"nav-link"  %>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <%= link_to "Edit User", edit_user_registration_path, class:"dropdown-item" %>
            <%= link_to "New User", new_user_registration_path, class:"dropdown-item" %>
            <li><hr class="dropdown-divider"></li>
            <%= link_to "Delete User", cancel_user_registration_path, class:"dropdown-item" %>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      
      <form class="d-flex" role="search">
       <% if current_user %>
        <div class="p-2">  

        <%= current_user.full_name %>

      </div>
      <%end%>
      
      <div class="p-2">

        <%= link_to 'Logout',destroy_user_session_path,method: :delete, class:"nav-link btn btn-warning" %>
      </div>
  
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>